
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.profile {
  text-align: center;
  width: 300px;
  margin: 10px auto;
  border: 1px solid blue;

  }
    
  .avatar {
    width: 150px;
    height: 150px;
    margin: 5px auto;
  }
  
  .name {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .tag {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  
  .location {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  
  .stats {
    display: flex;
    gap: 55px;
  }
  
  .stats li {
    display: flex;
    flex-direction: column;
  }
  .label {
    font-size: 20px;
  }
  
  .quantity {
    font-size: 20px;
    font-weight: 700;
  }